*{
    padding: 0;
    border: 0;
    margin: 0;
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

.content {
    padding: 24px;
}

.logout {
    margin-top: 15rem;
    padding: 1rem;
    width: calc(100% - .5rem);
    font-size: 1.2rem;
    border-radius: 0.5rem;
}