<p>edit-child works!</p>
<form #myForm ="ngForm"  (ngSubmit)="updateChild()">

    <div class="my-5 w-full">
        <label for="id">Name</label>
        <input type="text" id="id"
        class="p-2  rounded w-full border"
        [(ngModel)]="childDetails.ID"
        name="id" #name="ngModel" readonly> 
    </div>   
    
    <div class="my-5 w-full">
        <label for="name">Name</label>
        <input type="text" id="name"
        class="p-2  rounded w-full border"
        [(ngModel)]="childDetails.Name"
        name="name" #name="ngModel" required> 
    </div> 
  <div class="my-5 w-full">
    <label for="surname">Surname</label>
    <input type="text" id="surname"
    class="p-2  rounded w-full border"
    placeholder="Surname " [(ngModel)]="childDetails.Surname"
    name="surname" #surname="ngModel" required> 
  </div>
  <div class="my-5 w-full">
    <label for="allergy">Allergy</label>
    <input type="text" id="allergy"
    class="p-2  rounded w-full border"
    placeholder="e.g (Allergic to Grass) " [(ngModel)]="childDetails.Allergy"
    name="allergy" #allergy="ngModel" required> 
  </div>
  <div class="my-5 w-full">
    <label for="emergency">Emergency Contact</label>
    <input type="emergency" id="emergency"
    class="p-2  rounded w-full border"
    placeholder="e.g (0825583303) " [(ngModel)]="childDetails.EmergContact"
    name="emergency" #emergencyContact="ngModel" required> 
  </div> 
  <div class="my-5 w-full">
    <label for="pickUp">Pick Up</label>
    <input type="text" id="pickUp"
    class="p-2  rounded w-full border"
    placeholder="e.g (0825583303) " [(ngModel)]="childDetails.PickUp"
    name="pickUp" #pickUp="ngModel" required> 
  </div> 
  <div class="my-5 w-full">
    <label for="destination">destination</label>
    <input type="text" id="destination"
    class="p-2  rounded w-full border"
    placeholder="Destination " [(ngModel)]="childDetails.Destination"
    name="destination" #destination="ngModel" required> 
  </div>
  <div class="my-5 w-full">
    <button [disabled]="myForm.form.invalid" type="submit"  class="p-2 w-full rounded-full bg-blue-400  text-white" style="background-color: #3D6CE4; font-weight: bolder;">
        Save
    </button>
  </div>
</form>