<body>
    <main class="section">
        <h1></h1>
        <section class="section-body">
            <table class="children-list">
                <div id="header1">
                    <div class="children-item">
                        <thead class="children-content">
                            <tr>
                                <th>
                                    <input value="ID" readonly/>
                                </th>
                                <th>
                                    <input value="Name" readonly/>
                                </th>
                                <th>
                                    <input value="CellphoneNumber" readonly/>
                                </th>
                                <th>
                                    <input value="School Name" readonly/>
                                </th>
                                <th>

                                </th>
                                <th>
                                    <input value="Request Driver" readonly/>
                                </th>
                            </tr>
                        </thead>
                    </div>
                </div>
                <div>
                    <tbody>
                        
                    </tbody>
                </div>
                <div class="list" *ngFor="let driver of driver$">
                    <tbody>
                        <tr class="children-item space">
                            <td class="children-content"><input type="text" value=""></td>
                            <td class="children-content"><input type="text" value=""></td>
                            <td class="children-content"><input type="text" value=""></td>
                            <td class="children-content"><input type="text" value=""></td>
                            <td class="children-content"><input type="text" value=""></td>
                        </tr>

                        <tr class="children-item">
                            <td class="children-content">{{driver.IDNumber}}</td>
                            <td class="children-content">{{driver.Name}} {{driver.Surname}}</td>
                            <td class="children-content">{{driver.CellphoneNumber}}</td>
                            <td class="children-content">{{driver.SchoolName}}</td>
                            <button (click)="makeRequest(driver.ID);sendRequestMailToDriver(driver.Email)">
                                <ng-container *ngIf="isLoading">Requesting...</ng-container>
                                <ng-container *ngIf="!isLoading">Request Ride</ng-container>
                            </button>

                        </tr>
                    </tbody>
                </div>
            </table>
        </section>
    </main>
</body>
