<app-add-destination></app-add-destination>
<section class="section-body">
    <table class="children-list">
        <div id="header1">
            <div class="children-item">
                <thead class="children-content">
                    <tr>
                        <th>
                            <input type="text" value="Name" readonly/>
                        </th>
                        <th>
                            <input type="text" value="Allergy" readonly/>
                        </th>
                        <th>
                            <input type="text" value="Destination" readonly/>
                        </th>
                        <th>
                            <input type="text" value="Number" readonly/>
                        </th>
                        <th>
                            <input type="text" value="Parent" readonly/>
                        </th>
                        <th>
                            <input type="text" value="" readonly/>
                        </th>
                        
                    </tr>
                </thead>
            </div>
        </div>
        <div class="list" *ngFor="let req of requestDetails$">
            <tbody>
                <tr class="children-item space">
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                    <td class="children-content"><input type="text" value=""></td>
                </tr>

                <tr class="children-item">
                    <td class="children-content">{{req.Name}}</td>
                    <td class="children-content">{{req.Allergy}}</td>
                    <td class="children-content">{{req.Destination}}</td>
                    <td class="children-content">{{req.CellphoneNumber}}</td>
                    <td class="children-content">{{req.P_Name}}</td>
                    <td class="children-content">
                        <button class="request" (click)="acceptRequest(req.Id);sendAcceptMailToParent(req.Email,req.Name)">Accept</button>
                    </td>
                </tr>
            </tbody>
        </div>
    </table>
</section>