<body>
    <header>
        <h1>SmartTransportKids</h1>
        <p>Empowering Safe and Convenient Transportation for Your Little Ones</p>
    </header>

    <div class="container">
        <h2>Welcome to SmartTransportKids</h2>
        <p>Are you a parent looking for a reliable and smart transportation solution for your kids? Look no further!</p><br><br>
        <h2>Why Choose SmartTransportKids?</h2>
        <section class="section">
            <section class="features-section" id="home">
                <div class="feature">
                    <h3>Safety First</h3><br>
                    <p>Our top priority is the safety and well-being of your children.</p>
                </div>
                <div class="feature">
                    <h3>Convenience</h3><br>
                    <p>Say goodbye to the hassle of coordinating pickups and drop-offs.</p>
                </div>
                <div class="feature">
                    <h3>Trusted Drivers</h3><br>
                    <p>Our drivers undergo rigorous background checks and training.</p>
                </div>
                <div class="feature">
                    <h3>Smart Technology</h3><br>
                    <p>Utilizing cutting-edge GPS and communication technology.</p>
                </div>
            </section>
        </section>
    </div>

    <footer class="footer">
        <p>&copy; 2024 SmartTransit Kids. All rights reserved.</p>
    </footer>
</body>
