#title{
    font-weight: 300;
    padding-left:8px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:8px;
    border-radius: 5px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: #555;
    }
}

#bigger{
    font-weight: 300;
    padding-left:8px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:8px;
    border-radius: 5px;
    min-height: 30px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
        background-color: #555;
    }
}

.tile{
    background-color: blue !important;
    border-radius: 0px !important;
}