<div style="margin-top: 5vh; ">
    <form (ngSubmit)="[onSubmit()]" #myForm ="ngForm" class="p-4 border m-auto " style=" width: 90vw; border-radius:27px;  ">
        <h1 class="text-center text-xl"><b>Reset Password</b></h1>
        <div *ngIf="showSuccess()" class="form-success">
            {{successMessage}}
        </div>
          <div *ngIf="showError()" class="form-fail">
            {{errorMessage}}
        </div>
        <div class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" id="email"
            class="p-2  rounded w-full border"
            placeholder="Email Address" [(ngModel)]="resetPass.email"
            name="email" #email="ngModel" required> 
        </div> 
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="bg-red-300 text-red-800 rounded">
            Email field must be valid
        </div>
        <div class="my-5 w-full">
            <button [disabled]="myForm.form.invalid" type="submit"  class="p-2 w-full rounded-full bg-blue-400 rounded text-white" style="background-color: #3D6CE4; font-weight: bolder;">
                Reset Password
            </button>
        </div>
    </form>
</div>