<div *ngIf="!isLoginRoute()" class="side-nav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" src="../../../assets/d5b04cc3dcd8c17702549ebc5f1acf1a.jpg" alt=""/>
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Student</h2>
        <p>Beloved M. Nethengwe</p>
    </div>
</div>
<mat-nav-list *ngIf="!isLoginRoute()">
    <a mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.route" routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.label }}</span>
    </a>
</mat-nav-list>