<div id="container">
    <div  style="display: flex;flex-direction: column;min-height: 100vh; background-color: orangered;">
        <div style="min-height:40vh; background-color: aliceblue;">
            <smartTransport-button>
                <a routerLink="/app/calendar" >
                    <div id="nav-button">
                        <tui-svg src="tuiIconTrelloLarge" class="icon" style="color:#682B85"></tui-svg>
                    </div>
                </a>
            </smartTransport-button>
            <smartTransport-button>
                <a routerLink="/app/calendar" >
                    <div id="nav-button">
                        <tui-svg src="tuiIconTrelloLarge" class="icon" style="color:#682B85"></tui-svg>
                    </div>
                </a>
            </smartTransport-button>
            <smartTransport-button>
                <a routerLink="/app/calendar" >
                    <div id="nav-button">
                        <tui-svg src="tuiIconTrelloLarge" class="icon" style="color:#682B85"></tui-svg>
                    </div>
                </a>
            </smartTransport-button>
            <smartTransport-button>
                <a routerLink="/app/calendar" >
                    <div id="nav-button">
                        <tui-svg src="tuiIconTrelloLarge" class="icon" style="color:#682B85"></tui-svg>
                    </div>
                </a>
            </smartTransport-button>
        </div>
    </div>
</div>