<p>pending-request works!</p>
<div class="container my-5">
    <table class="table" >
        <thead>
            <tr>
                <th>Name</th>
                <th>SchoolName</th>
                <th></th>
                <th></th>
                <th>Request</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let child of childrenDetail$">
                <td>{{child.Name}}</td>
                <td>{{child.Destination}}</td>
                <td>{{child.Status}}</td>
                <td><a [routerLink]="['/children','edit',child.ID]">View</a></td>
            </tr>
        </tbody>
    </table>
</div>